









































































































































































































































































































.option-list .option.incorrect {
    background:  #09001d;
    color: #a60045;
    border-color: #a60045;
}
.option-list .option.disabled {
    pointer-events: none;
}