body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #question {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .option {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #e6e6e6;
  }
  
  #submit-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  #submit-btn:hover {
    background-color: #45a049;
  }
  